<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page-layout">
        <h2>Welcome to HarryFace, {{ username }}</h2>
        <div id="faceCapture">
            <video id="video" autoplay></video>
            <canvas id="canvas" style="display: none;"></canvas>
            <button type="button" id="capture">Capture Photo</button>
        </div>
        <div id="result">
            <!-- Matched character will be displayed here -->
        </div>
        <button type="button" id="logoutButton" href="/logout">Logout</button>
    </div>

    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</body>
</html>